#App {
  text-align: center;

  > header {
    min-height: 10vmin;
    display: flex;
    flex-direction: column;
  }

  > .content  {
    background-color: #282c34;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    a {
      color: #61dafb;
    }
  }
}

.App-link {
  color: #61dafb;
}
