#HomePage .logo {
    animation: HomePage-logo-spin infinite 20s linear;
    height: 40vmin;
}

@keyframes HomePage-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
